body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.2rem;

  background-image: linear-gradient(
    to top,
    #cd1b80,
    #c445a2,
    #b563be,
    #a47bd3,
    #9390e0,
    #82a1ec,
    #73b0f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}
h1 {
  font-size: 4rem;
  color: darkslategray;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;

  /* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "ELGR" 1, "ELSH" 2;
}
h2 {
  font-size: 2rem;
  color: slategray;
  padding-bottom: 10px;
  padding-top: 10px;

  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "ELGR" 1, "ELSH" 2;
  text-align: center;
}
p {
  line-height: 1.4;
}
