header {
    font-family: 'Times New Roman', Times, serif;
    padding: 4rem;
    font-size: 30px;
}

:root {
    background-color: lightgrey;
}

* {
    margin: 0;
    padding: 10;
    box-sizing: border-box;  
}

body {
    background-color: var(--background);
    display: grid;
    place-items: center;
    height: 100vh;
    font-family:Arial, Helvetica, sans-serif;
}

.gallery {
    opacity: 100%;
    /* background-color: white; */
    justify-content: center;
    align-content: center;
    display: flex;
    gap: 2.5rem;
    max-width: 50rem;
    max-height: 50rem;
    margin: 1rem;
    /* min-width: 40; */
}

.cardbox {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);

}

.card {
    /* opacity: 100%; */
    background-color: pink;
    padding: 1rem;
    font-weight: bold;
    line-height: 6;
    justify-content: space-around;
    text-align: center;
    position: relative;
    left: 0;
    width: 20rem;
    border-radius: 1.2rem;
    height: 10rem;
    overflow: hidden;
    /* background-color: var(--background); */
    transition: 1s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    flex: 1;
    font-size: 20px;
}

.answer {
    line-height: 1.2;
    opacity: 0%;
    transition: 0.4s ease-in-out;
}

.answer:hover {
    opacity: 100%;
}

.card:hover {
    font-size: medium;
    line-height: 1;
    opacity: 100%;
    flex: 5;
    font-weight: 400;
    cursor: pointer;
    border-radius: 1rem;
    
}