@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400&display=swap');

:root {
    margin: 2rem;
    --primary-bg-color: #692b5a;
    --text-color: #2e2e2e;
    --main-bg-color: #ffe4e1;
    --main-text-color: #2e2e2e;
    --main-btn-bg-color: #ffb6c1;
    --highlight-color: #ff69b4;
    --accent-color: #ff1493;
    --header-font: 'Montserrat', sans-serif;
    --body-font: 'Roboto', sans-serif;
    --big-object-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    --button-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --progress-bar-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --transparency: 0.80;
}

body,
h1,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    overflow: hidden;
}

.container {
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgba(255, 228, 225, var(--transparency)); */
    border-radius: 10px;
    /* box-shadow: var(--big-object-shadow); */
}

.media-player {
    width: 100%;
    margin: 20px auto;
    background-color: rgba(255, 228, 225, var(--transparency));
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--big-object-shadow);
    position: relative;
}

.media-player video {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: var(--big-object-shadow);
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: var(--main-bg-color);
    margin: 10px 0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: var(--progress-bar-shadow);
}

.progress-bar span {
    display: block;
    height: 100%;
    background-color: #160505;
    width: 0;
    transition: width 0.3s ease;
}

.custom-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

.controls-left,
.controls-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.controls-left button,
.controls-right button {
    background-color: var(--main-btn-bg-color);
    color: var(--main-text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: var(--button-shadow);
}

.controls-left button:hover,
.controls-right button:hover {
    background-color: var(--accent-color);
    box-shadow: var(--big-object-shadow);
}

.volume-bar-container {
    width: 100px;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    box-shadow: var(--progress-bar-shadow);
}

.volume-bar-fill {
    height: 100%;
    background-color: #160505;
    width: 100%;
    transition: width 0.3s ease;
}

/* Footer styling */
/* footer {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    text-align: center;
    padding: 20px 0;
    width: 100%;
    font-family: var(--body-font);
    font-size: 1em;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 100;
} */
