@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400&display=swap');

:root {
    margin: 2rem;
    --primary-bg-color: #282c34;
    --text-color: #ffffff;
    --main-bg-color: #444c56;
    --main-text-color: #ffffff;
    --main-btn-bg-color: #61dafb;
    --highlight-color: #61dafb;
    --accent-color: #21a1f1;
    --header-font: 'Montserrat', sans-serif;
    --body-font: 'Roboto', sans-serif;
    --big-object-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    --button-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --progress-bar-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --transparency: 0.8;
}

body,
h1,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}

.media-player {
    width: 100%;
    background-color: var(--main-bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--big-object-shadow);
    position: relative;
}

#youtube-url {
    width: calc(100% - 40px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: var(--button-shadow);
}

#load-video-btn {
    background-color: var(--main-btn-bg-color);
    color: var(--main-text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: var(--button-shadow);
}

#load-video-btn:hover {
    background-color: var(--accent-color);
    box-shadow: var(--big-object-shadow);
}

.media-player video {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: var(--big-object-shadow);
}

.progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ddd;
    margin: 10px 0;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: var(--progress-bar-shadow);
    cursor: pointer;
}

.progress-bar span {
    display: block;
    height: 100%;
    background-color: var(--highlight-color);
    width: 0;
    transition: width 0.3s ease;
}

.custom-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
}

.controls-left,
.controls-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.controls-left button,
.controls-right button {
    background-color: var(--main-btn-bg-color);
    color: var(--main-text-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: var(--button-shadow);
}

.controls-left button:hover,
.controls-right button:hover {
    background-color: var(--accent-color);
    box-shadow: var(--big-object-shadow);
}

.volume-bar-container {
    width: 100px;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    box-shadow: var(--progress-bar-shadow);
}

.volume-bar-fill {
    height: 100%;
    background-color: var(--highlight-color);
    width: 100%;
    transition: width 0.3s ease;
}
